<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', {title: 'Home'}) %>
  <body>

    <%- include('./partials/header') %>

    <main>

      <ul class="nav nav-pills justify-content-center mt-5">
        <li class="nav-item">
          <p class="nav-link">16 of 32 products</p>
        </li>
        <li class="nav-item">
          <p class="nav-link text-black-50">|</p>
        </li>
        <li class="nav-item">
          <p class="nav-link text-black-50">Sort by:</p>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link active bg-info bg-gradient rounded-pill" aria-current="page" href="#">Most recent</a>
        </li>
        <li class="nav-item rounded-pill mx-2">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Lowest price</a>
        </li>
        <li class="nav-item rounded-pill mx-2">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Highest price</a>
        </li>
      </ul>


      <div class="row align-items-center justify-content-evenly">
        <div class="col">

          <div class="card p-3 m-3 shadow" style="width: 18rem;">
            <img src="/images/products/AcerAspire-x2.png" class="card-img-top m-2" alt="...">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h5 class="card-title">Acer Aspire</h5>
                <p class="card-text">Laptops</p>
              </li>
            </ul>
            <div class="card-body text-center">
              <p class="card-text"><span class="p-1 ps-2 rounded-pill fw-bold">8000 <img src="images\icons\coin.svg" alt="coin"></span></p>
              <a href="#" class="btn btn-light rounded-pill text-center">Redeem</a>
            </div>
          </div>

        </div>
        <div class="col">
          
          <div class="card p-3 m-3 shadow" style="width: 18rem;">
            <img src="/images/products/AcerAspire-x2.png" class="card-img-top m-2" alt="...">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h5 class="card-title">Acer Aspire</h5>
                <p class="card-text">Laptops</p>
              </li>
            </ul>
            <div class="card-body text-center">
              <p class="card-text"><span class="p-1 ps-2 rounded-pill fw-bold">8000 <img src="images\icons\coin.svg" alt="coin"></span></p>
              <a href="#" class="btn btn-light rounded-pill text-center">Redeem</a>
            </div>
          </div>

        </div>
        <div class="col">

          <div class="card p-3 m-3 shadow" style="width: 18rem;">
            <img src="/images/products/AcerAspire-x2.png" class="card-img-top m-2" alt="...">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h5 class="card-title">Acer Aspire</h5>
                <p class="card-text">Laptops</p>
              </li>
            </ul>
            <div class="card-body text-center">
              <p class="card-text"><span class="p-1 ps-2 rounded-pill fw-bold">8000 <img src="images\icons\coin.svg" alt="coin"></span></p>
              <a href="#" class="btn btn-light rounded-pill text-center">Redeem</a>
            </div>
          </div>

        </div>
        <div class="col">

          <div class="card p-3 m-3 shadow" style="width: 18rem;">
            <img src="/images/products/AcerAspire-x2.png" class="card-img-top m-2" alt="...">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h5 class="card-title">Acer Aspire</h5>
                <p class="card-text">Laptops</p>
              </li>
            </ul>
            <div class="card-body text-center">
              <p class="card-text"><span class="p-1 ps-2 rounded-pill fw-bold">8000 <img src="images\icons\coin.svg" alt="coin"></span></p>
              <a href="#" class="btn btn-light rounded-pill text-center">Redeem</a>
            </div>
          </div>

        </div>
      </div>


      

    </main>
    
    <%- include('./partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  
  </body>
</html>