<footer class="shadow-lg">
  <nav class="navbar navbar-light py-5 mt-5 border-top border-2">
      <div class="container-fluid justify-content-center">
        <span class="navbar-brand mb-0 h1">Aerolab © 2021</span>
      </div>
  </nav>
</footer>