<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a href="/" class="navbar-brand"><img src="images\logo.svg" alt="logo"></a>
        <span class="d-flex">
            <span class="me-3 align-self-center fs-5">Lucas Koval</span>
            <span class="bg-gray-400 shadow p-1 ps-2 rounded-pill fw-bold">6000 <img src="images\icons\coin.svg" alt="coin"></span>
        </span>
    </div>
</nav>
<img src="images\header-1.png" alt="header" class="w-100">