<header class="fixed-top sticky-top bg-white theme shadow">
    
    <nav class="navbar navbar-light">
        
        <div class="container-fluid">
            
            <a href="/" class="navbar-brand">
                <img src="/images\logo.svg" alt="logo">
            </a>
            
            <span class="d-flex">
                
                <span class="bg-gray-400 p-1 ps-3 rounded-pill fw-bold me-3" style="color: black;"><%= user.points %> <img src="/images\icons\coin.svg" alt="coin"></span>
        
                <div class="btn-group">
                    
                    <button type="button" class="btn btn-light"><%= user.name %></button>
                    
                    <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split me-3" data-bs-toggle="dropdown" aria-expanded="false">
                      <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    
                    <ul class="dropdown-menu">
                        
                        <li>
                            <a href="/user/profile" class="dropdown-item">My Profile</a>
                        </li>
                        
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        
                        <li>
                            <a class="dropdown-item" href="#">Logout</a>
                        </li>

                    </ul>

                </div>

                <button onclick="darkMode()" style="border-radius: 50%; background-color: #F8F9FA;" class="p-0">
                    <img src="/images/icons/DarkMode.png" alt="darkMode" style="width: 36px;">
                </button>

            </span>
        </div>

    </nav>    
    
</header>