:root {
  --primary: #0d6efd;
  --secondary: #6c757d;
  --success: #198754;
  --info: #0dcaf0;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #212529;
}

main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.dark-mode {
  background-color: #6c757d !important;
  color: white;
}

.bg-gray-400 {
  background-color: #ced4da; /* #ced4da - #ededed */
}

.banner-text {
  font-size: 6rem;
  color: white;
}

.shop-icon {
  width: 36px;
  position: absolute;
  z-index: 1;
  right: 16px;
}

.custom-overlay:hover {
  background-color: var(--info);
}
